<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.salvaredatecv">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".proiectandro.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".robert.crud.ReadActivity" />
        <activity android:name=".robert.crud.UpdateActivity" />
        <activity android:name=".proiectandro.AiUitatParolaActivity" />
        <activity android:name=".proiectandro.ListaEmailActivity" />
        <activity android:name=".proiectandro.MeniuActivity" />
        <activity android:name=".proiectandro.ProfilActivity" />
        <activity android:name=".proiectandro.SignUpActivity" />
        <activity android:name=".robert.crud.CreateActivity" />
        <activity android:name=".proiectandro.SchimbareParola"></activity>
    </application>

</manifest>